p
{
	color: red;
	text-align: center; /*align znaczy wyrownywac */
	text-shadow: 2px 2px #00FF00;
}

p.center
{
	text-align: right;
	color: blue;
	text-decoration: underline;
	text-decoration-color: darkblue;
}

@font-face
{
	font-family: Amaranth;
	src: url(Amaranth-Bold.otf);
}

#abc
{
	text-transform: capitalize;
	text-decoration-line: overline;
	color: gray;
	font-variant: small-caps;
	font-family: "Amaranth",Georgia, Serif;
	font-size: 500%;
	text-align: center;
}