body
{
	background-color: lightyellow;
}

@font-face
{
	font-family: myFont;
	src: url("HermanoAlto Round.ttf");
}

h1.head
{
	font-family: myFont;
	text-align: center;
	color: gray;
	font-size: 400%;
	/*font-weight: 200%;*/
}

p.para
{
	font-family: myFont;
	text-align: center;
	color: lightgray;
	margin-top: -50px;
}

div.container
{
	border: 1px solid yellow;
	margin-left: 100px;
}

p.one
{
	margin-left: inherit;
}