body
{
	background-color: lightblue;
	background-image: url( "bg.jpg");
}

@font-face
{
	font-family: adventure;
	src: url("fonts/adventure.otf");
}

h1.header
{
	font-family: adventure;
	text-align: center;
	color: white;
	font-size: 500%;
}

div
{
	background-color: blue;
}

p
{
	background-color: black;
	color: white;
}