div.ex1
{
	padding: 25px 50px 75px 100px;
	background-color: red;
}

div.ex2
{
	padding: 25px 50px 75px;
	background-color: orange;
}

div.ex3
{
	padding: 25px 50px;
	background-color: yellow;
}

div.ex4
{
	padding: 25px;
	background-color: lightyellow;
}